@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
$font-stack: 'Open Sans', sans-serif;

$primary: #4BAE4B;
$secondary: #388282;
$tertiary: #A0865F;

@import 'login';
@import 'nav';
@import 'footer';
@import 'homepage';

@each $classname, $color in (primary, #4BAE4B), (secondary, #388282), (tertiary, #D9965E) {
  .#{$classname}-break {
    height: 0.5rem;
    background-color: #{$color};
  }
}

body, html {
  font-family: $font-stack;
}

h1, h2, h3, h4, p, .row, .col {
  margin: 0;
}

.shadow-inset {
  -webkit-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.full-page {
  min-height: 88vh;
}

.card {
  background-color: rgba(255,255,255,0.8);
  .card-content {
    text-align: center;
    h2 {
      font-size: 2.5em;
      line-height: 1.1;
      padding-bottom: 1rem;
    }
    p {
      font-size: 1.3em;
    }
  }
}

@each $classname in wiki-leatherback, turtle-baby, turtle-baby-2 {
  .#{$classname}-background {
    background: url(/backgrounds/#{$classname}.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 92vh;
    width: 100%;
    position: relative;
  }
}
