<template name="home">
	<section class="wiki-leatherback-background valign-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s12 m8 offset-m2">
					<div class="card">
						<div class="card-content">
							<h2>Welcome to the Pacuare Nature Reserve,</h2>
							<p>a working reserve established in 1989 by the Endangered Wildlife Trust, a British registered charity. Its 1050 hectares of tropical rainforest on the Caribbean coast of Costa Rica has a high concentration of wildlife and its 6kms of beach is the most important nesting site in the country for the giant Leatherback turtles.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="secondary-break"></div>

	<section class="homepage-promo">
		<div class="container">
			<div class="row valign-wrapper">
				<div class="col s12 m4">
					<img src="images/temp.png" alt="">
				</div>
				<div class="col s12 m4">
					<img src="images/temp2.png" alt="">
				</div>
				<div class="col s12 m4">
					<img src="images/temp3.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<div class="secondary-break"></div>

	<section class="valign-wrapper turtle-baby-background">
		<div class="container">
			<div class="row">
				<div class="col s12 m6 offset-m6">
					<div class="card">
						<div class="card-image">
							<img src="/raw_images/home-turtle.jpg" alt="">
						</div>
						<div class="card-content">
							<p>The reserve welcomes all visitors to walk the trails and to join the night patrols together with biologists, field assistants and beach guards. There is accommodation to suit everyone, from school groups to individual volunteers or those looking for more privacy and comfort. We have active visitor programmes.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="primary-break"></div>

	<section class="valign-wrapper sand-background">
		<div class="container">
			<div class="row">
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">

						</div>
					</div>
				</div>
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="primary-break"></div>

	<section class="valign-wrapper full-page">

	</section>

</template>
