<template name="home">
	<section class="wiki-leatherback-background valign-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s12 m8 offset-m2">
					<div class="card">
						<div class="card-content">
							<h2>Welcome to the Pacuare Nature Reserve,</h2>
							<p>a working reserve established in 1989 by the Endangered Wildlife Trust, a British registered charity. Its 1050 hectares of tropical rainforest on the Caribbean coast of Costa Rica has a high concentration of wildlife and its 6kms of beach is the most important nesting site in the country for the giant Leatherback turtles.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="secondary-break"></div>

	<section class="homepage-promo">
		<div class="container">
			<div class="row valign-wrapper">
				<div class="col s12 m4">
					<a href=""><img src="images/temp.png" alt=""></a>
				</div>
				<div class="col s12 m4">
					<a href=""><img src="images/temp2.png" alt=""></a>
				</div>
				<div class="col s12 m4">
					<a href=""><img src="images/temp3.png" alt=""></a>
				</div>
			</div>
		</div>
	</section>

	<div class="secondary-break"></div>

	<section class="valign-wrapper turtle-baby-background">
		<div class="container">
			<div class="row">
				<div class="col s12 m6 offset-m6">
					<div class="card">
						<div class="card-content">
							<img src="/raw_images/home-turtle.jpg" alt="">
							<p>The reserve welcomes all visitors to walk the trails and to join the night patrols together with biologists, field assistants and beach guards. There is accommodation to suit everyone, from school groups to individual volunteers or those looking for more privacy and comfort. We have active visitor programmes.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="primary-break"></div>

	<section class="valign-wrapper sand-background">
		<div class="container" style="padding-bottom:2rem;">
			<h2 class="center-align" style="padding:2rem 0;">School Groups</h2>
			<div class="row styled-row valign-wrapper">
				<div class="col s12 m6">
					<p>Environmental education has always been a high priority for the Reserve and from March until the end of September we welcome school groups in both the South and North stations.</p>
					<p>Biologists and naturalist guides are on hand to show visitors the magic of the forest, tell them how a walking palm walks or why a frog carries a tadpole up a tree. During the turtle season there are escorted beach patrols at night to see the wonder of a giant Leatherback going through the whole nesting process or, later, to see dozens of hatchlings break out of their nest and scamper to the sea.</p>
				</div>
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">
							<img src="/images/painting.png" alt="">
							<p>Visiting students painting the local school</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row styled-row valign-wrapper">
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">
							<img src="/images/boat.png" alt="">
							<p>A school group leaving</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6">
					<p>A separate building provides a spacious classroom for the use of visiting students or special interest groups.</p>
					<p>Some groups combine learning Spanish with studying nature and we provide a Spanish teacher for them. The Reserve is a perfect venue for this type of holiday.</p>
					<p>Many schools from the US, Europe and within Costa Rica come to learn and have a great experience.</p>
				</div>
			</div>
		</div>
	</section>

	<div class="primary-break"></div>

	<section class="valign-wrapper students-background">

	</section>

</template>
