<template name="about">
	<section class="turtle-baby-2-background">
		<div class="container">
			<div class="row valign-wrapper" style="height:92vh;">
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">
							<h2>The Pacuare Nature Reserve, Costa Rica</h2>
							<p>The Reserve’s special mission has been to protect the giant Leatherback turtle, a critically endangered species (called Baulas in Costa Rica). Twenty years ago almost every nest was taken by poachers but today, by guarding the beach night and day for seven months of the year, the loss to poachers is less than two percent.</p>
							<p>March to June is the nesting season for these giant turtles and from June to September Green turtles also nest here, though in lesser numbers. From May onwards, hatchlings can be seen emerging from their nests.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">
							<img src="/images/map2.png" alt="">
							<p style="padding-bottom:2rem;">Costa Rica and Panama</p>
							<img src="/images/map1.png" alt="">
							<p>The Pacuare Nature Reserve</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="secondary-break"></div>

	<section class="sand-background full-page">
		<div class="container" style="padding:2rem 0;">
			<div class="row styled-row valign-wrapper">
				<div class="col s12 m6">
					<p>Our night-time beach patrols run throughout the season and everyone is invited to join. The Reserve is home to about 30 species of mammal and many reptiles. Monkeys are plentiful and Howler monkeys regularly provide a dawn chorus.</p>
					<p>With beach, forest and freshwater habitats, the reserve has a wide variety of birds and we have listed 230 species. One of the lagoons within the forest is the only known nesting site in Costa Rica of the rare and beautiful Agami heron.</p>
					<div class="card">
						<div class="card-content">
							<img src="/images/fruit.png" alt="">
							<p>Cocoa Pod</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6">
					<div class="card">
						<div class="card-content">
							<img src="/images/bird.png" alt="">
							<p class="center-align">Agami Heron</p>
						</div>
					</div>
					<p>There is a main trail, which is also a bicycle path, running through the forest behind the beach the whole length of the reserve and there are other shorter trails leading to areas of special interest.</p>
					<p>Visitors to the Reserve will enjoy walking the trails or taking a boat-ride along the Tortuguero canal where caimans, freshwater turtles and many wading birds can be seen. They are also encouraged to join our biologists, field assistants and beach guards in the night-time patrolling of the beach and see the whole nesting process of this giant reptile, from excavating the nest, laying her eggs and finally returning to the sea – an unforgettable experience.</p>
					<p>A new feature is the establishment of an area of native fruit trees. This has been developed from an original orchard, overgrown for many years but which now has many species such as avocado, banana, yuca, lemons, papaya, breadfruit, noni and cacao. Not many visitors from Europe or the US will have seen a chocolate tree!</p>
				</div>
			</div>
		</div>
	</section>

	<div class="secondary-break"></div>


</template>
